<div id="ibm-related-content">
  <div id="ibm-merchandising-module">
    <!-- MTE will generate this -->
    <!-- <aside role="complementary" aria-label="Related content"> MTE dynamic modules populate in here. <aside> -->
    <!-- /MTE -->
  </div>
</div>

<div id="ibm-leadspace-head" class="ibm-alternate" style="background-color:#4178BE;">
  <div id="ibm-leadspace-body" class="ibm-padding-top-r1 ibm-padding-bottom-r1">
    <div class="ibm-columns ibm-alternate-background ibm-vertical-center">
      <div class="ibm-col-12-2 ibm-center">
        <img src="/images/BannerIcon.png" width="124.8pt" alt="Logo">
      </div>
      <div class="ibm-col-12-8">
        <h1 class="ibm-h1 ibm-padding-bottom-1">Share your diagrams with community</h1>
        <p style="font-size: 18px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="ibm-col-12-2 ibm-center  ibm-margin-top-r1">
        <p class="ibm-button-link"><a href="/upload" class="ibm-btn-pri ibm-btn-white">Upload Diagrams</a></p>
    </div>
    </div>
  </div>
  </div>
