<header role="banner" aria-labelledby="ibm-pagetitle-h1">
<!-- LEADSPACE_BEGIN -->

<div id="ibm-leadspace-head" class="ibm-alternate" style="background: url(images/leadspace.jpg) center / cover no-repeat;">
  <div id="ibm-leadspace-body" class="ibm-padding-top-r1 ibm-padding-bottom-r1">
    <div class="ibm-columns ibm-alternate-background">

      <div class="ibm-col-6-4 ibm-col-medium-1-1">
        <h1 class="ibm-h1">The official set of icons to build<br class="ibm-br-xlarge ibm-br-large"> architectural diagrams of IBM Bluemix</h1>
        <h4 class="ibm-h4 ibm-margin-bottom-r1">Here are the official set of icons to build architectural diagrams of IBM Bluemix Platform</h4>
        <br>
        <div class="ibm-columns ibm-fluid ibm-flex ibm-flex--wrap">
            <p class="ibm-left-block" style="word-spacing: 10px;">
                <span class="ibm-icon-nolink ibm-like-link">120</span>
                <span class="ibm-textcolor-gray-30">|</span><br class="ibm-br-small">
                <span class="ibm-icon-nolink ibm-download-link">720</span>
                <span class="ibm-textcolor-gray-30">|</span><br class="ibm-br-small">
                <span class="ibm-icon-nolink ibm-forum-link">6</span>
            </p>
        </div>
        <div class="ibm-columns ibm-margin-top-r1 ibm-vertical-center">
            <div class="ibm-col-6-1">
                <p class="ibm-button-link">
                  <a href="#" class="ibm-btn-pri ibm-btn-white ibm-fullwidth">Download PPT</a>
                </p>
            </div>
            <div class="ibm-col-6-1">
                <p class="ibm-button-link">
                  <a href="#" class="ibm-btn-sec ibm-btn-white ibm-fullwidth">Download VISIO</a>
                </p>
            </div>
            <div class="ibm-col-6-1">
                <p class="ibm-ind-link"><a class="ibm-forward-link" href="#">Learn More</a></p>
            </div>
        </div>
      </div>


    </div>
  </div>
</div>

<!-- LEADSPACE_END -->

</header>
