<!-- LEADSPACE_BEGIN -->


<header role="banner" aria-labelledby="ibm-pagetitle-h1">

  <div id="ibm-leadspace-head" class="ibm-alternate" style="background-color:#4178BE; height:190pt;">
    <div id="ibm-leadspace-body">
      <div class="ibm-columns ibm-alternate-background ibm-vertical-center">
        <div class="ibm-col-12-10 ibm-center-block">

          <div class="ibm-columns">
            <div class="ibm-col-12-8 ibm-padding-top-r1">
                <h1 class="ibm-h1">Add Your Diagrams</h1>
                <p class="ibm-h4">We are always looking for great resources that can help our growing community. Thank you for sharing your diagrams!</p>
            </div>
            <div class="ibm-col-12-4 ibm-center">
                <img src="/images/BannerIconHalf.png" width="295.1" alt="Banner Logo"/>
            </div>
          </div>

        </div>
      </div>
    </div>
    </div>

</header>

<!-- LEADSPACE_END -->

<main role="main" aria-labelledby="ibm-pagetitle-h1">
  <div id="ibm-pcon">
    <div id="ibm-content">
      <div id="ibm-content-body">

        <div class="ibm-common-overlay ibm-background-cool-white-core" data-widget="overlay" id="githublogin">
            <div class="ibm-center">
              <p>Login Options:</p>
              <p><a class="ibm-btn-sec" href="/auth/github">Login with <span class="ibm-bold">GitHub</span></a></p>
            </div>
        </div>

        <div id="ibm-content-main">
            <div class="ibm-columns">
                  <div class="ibm-col-12-10 ibm-center-block">

                  <!-- Body starts -->

                    <div class="ibm-col-12-4">
                        <h3 class="ibm-h3">Add Diagram Information</h3>
                    </div>
                    <div class="ibm-col-12-8">
                        <p>
                          Try to fill-out all fields providing all the necessary information. If we require additional information, we will get in touch.
                        </p>
                        <div class="ibm-columns">
                          <div class="ibm-col-12-6">
                              <p>
                                  <label for="title"><span class="ibm-required">*</span>Title</label><br>
                                  <span>
                                      <input type="text" value="" size="40" id="title" name="title">
                                  </span>
                              </p>
                          </div>
                        </div>
                        <div class="ibm-columns">
                          <div class="ibm-col-12-6">
                            <p>
                                <label class="ibm-column-field-label" for="tags"><span class="ibm-required">*</span>Tags</label><br>
                                <span>
                                    <textarea style="resize:none" rows="5" cols="41" id="tags" name="tags"></textarea>
                                </span>
                            </p>
                          </div>
                          <div class="ibm-col-12-6">
                            <p>
                                <label class="ibm-column-field-label" for="description"><span class="ibm-required">*</span>Description (0/200)</label><br>
                                <span>
                                    <textarea style="resize:none" rows="5" cols="41" id="description" name="description"></textarea>
                                </span>
                            </p>
                          </div>
                        </div>
                    </div>

                  <!-- Body ends -->

                  </div>
                  <br>
            </div>

            <div class="ibm-band ibm-margin-top-r1 ibm-margin-bottom-r1" style="background-color:#F5F5F5;">
              <div class="ibm-columns">
            	  <div class="ibm-col-12-10 ibm-center-block ibm-padding-top-1">
            		<div class="ibm-col-12-4">
            			<h3 class="ibm-h3">Diagram Files</h3>
            		</div>
            		<div class="ibm-col-12-8">
            			<p>
            			  Upload all necessary files in seperate Power Point and VISIO formats as compressed ZIP files. Each file should not be larger than 10MB.
            			</p>
            			<p>
            			  <span>
            				  <input id="fileinput" type="file" data-multiple="true" multiple />
            			  </span>
            			</p>
            		</div>
            	  </div>
              </div>
            </div>

            <div class="ibm-columns ibm-margin-bottom-r1">
            	<div class="ibm-col-12-10 ibm-center-block">
            	  <div class="ibm-col-12-4">
            		  <h3 class="ibm-h3"></h3>
            	  </div>
            	  <div class="ibm-col-12-8">
            		  <p>
            			<span class="ibm-checkbox-wrapper">
            				<input class="ibm-styled-checkbox" id="confirm" type="checkbox" value="" />
            				<label for="confirm" class="ibm-field-label"><span class="ibm-required">*</span>I confirm that I have permission to share information about this project publicly on IBM.com</label>
            			</span>
            		  </p>
            		  <p class="ibm-button-link"><a href="#" class="ibm-btn-pri ibm-btn-blue-50">Send</a></p>
            	  </div>
            	</div>
            </div>
        </div>


      </div>
    </div>
  </div>
</main>
